# ==========================================
# UV
# ==========================================
.venv/


# ==========================================
# Python
# ==========================================
**/__pycache__/
src/respiratory_sound_analysis.egg-info


# ==========================================
# Data, Models etc.
# ==========================================
data/
models/


# ==========================================
# Editors
# ==========================================

.vscode/
*.swp
2